.stepper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.step {
  flex: 1;
  text-align: center;
  border-radius: 50%;
 
  font-weight: 500;
}

.step.active {
  border-color: #0d6efd;
  color: #ffd600;
  font-weight: bold;
}

.payment-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.payment-box {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  animation: pop 0.3s ease;
}

@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
.card {
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.form-control,
.form-select {
  height: 48px;
  border-radius: 10px;
}
.form-control:focus{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.btn-primary {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  border: none;
}

.btn-primary:hover {
  opacity: 0.9;
}
/* Wrapper */
.input-group-modern {
  position: relative;
}

/* ICON PERFECT CENTER */
.input-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #ffd600;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.25s ease;
}

/* MODERN INPUT */
.modern-input {
  height: 50px;
  padding-left: 44px !important;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
  transition: all 0.25s ease;
  font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;

}

/* HOVER */
.modern-input:hover {
  border-color: #1d1d3f;
  box-shadow: 0 0 0 2px rgba(79, 172, 254, 0.08);
}

/* FOCUS */
.modern-input:focus {
  border-color: #1d1d3f;
  box-shadow: 0 0 0 3px rgba(79, 172, 254, 0.15);
}

/* ICON COLOR CHANGE ON FOCUS */
.input-group-modern:focus-within .input-icon {
  color: #4facfe;
  transform: translateY(-50%) scale(1.05);
}
.is-invalid {
  border-color: #e81026 !important;
  box-shadow: 0 0 0 3px #e81026;
    box-shadow: #e81026 0px 0.5px 2px !important;

  
}