ul{
    list-style: none;

}
li{
    margin-top: 10px;
}

.footer-link {
  color: #adb5bd;
  text-decoration: none;
  transition: 0.3s;
}

.footer-link:hover {
  color: #FFD600;
  padding-left: 3px;
}

.social-link {
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.social-icon:hover {
  color: #FFD600;
  transform: translateY(-2px);
}
